
{% extends 'Memories/base.html' %}
{% block login %} Active {% endblock %}
{% block content%}
<div class="row">
	<div class="col-xs-12 col-sm-4 col-sm-offset-4">
	<div class="panel1">
	<div class="header">
		<h3>Login with Your username and password</h3>
	</div>
	<div class="body">
		<form action = "{% url 'auth_view' %}" method = "post">{% csrf_token %}
			<div class="form-group">
				<input class="form-control" type = "text", name = "username" , placeholder="Username" , id = "username">
			</div>
			<div class="form-group">
				<input class="form-control" type = "password", name = "password" , placeholder="Password" , id = "password">
			</div>
			<div class="form-group">
				<input type = "submit" value="Submit" class="btn btn-success">
			</div>
		</form>
	</div>
	<div class="footer">
		Don't have an account? <a href="{% url 'register_user' %}">Click here</a> to register.
	</div>
	</div>

{% endblock %}
