{% extends 'Memories/base.html' %}
{% block content %}
 
   
{% for memories in memories %}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="well">  
            <div class="post">
                <p class="a">published: {{ memories.published_date }}</p>
                <h1><a href="{% url 'memory_detail' pk=memories.pk %}">{{ memories.title }}</a></h1>  
                <p class="b">{{ memories.text|truncatechars:200 }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
       

{% endblock %}